IyBEZXBlbmRlbmNpZXMKbm9kZV9tb2R1bGVzLwpucG0tZGVidWcubG9nKgp5
YXJuLWRlYnVnLmxvZyoKeWFybi1lcnJvci5sb2cqCgojIFByb2R1Y3Rpb24g
YnVpbGRzCmRpc3QvCmJ1aWxkLwoKIyBFbnZpcm9ubWVudCB2YXJpYWJsZXMK
LmVudgouZW52LmxvY2FsCi5lbnYuZGV2ZWxvcG1lbnQubG9jYWwKLmVudi50
ZXN0LmxvY2FsCi5lbnYucHJvZHVjdGlvbi5sb2NhbAoKIyBJREUKLnZzY29k
ZS8KLmlkZWEvCiouc3dwCiouc3dvCgojIE9TCi5EU19TdG9yZQpUaHVtYnMu
ZGIKCiMgTG9ncwpsb2dzCioubG9nCgojIFJ1bnRpbWUgZGF0YQpwaWRzCiou
cGlkCiouc2VlZAoqLnBpZC5sb2NrCgojIENvdmVyYWdlIGRpcmVjdG9yeSB1
c2VkIGJ5IHRvb2xzIGxpa2UgaXN0YW5idWwKY292ZXJhZ2UvCgojIG55YyB0
ZXN0IGNvdmVyYWdlCi5ueWNfb3V0cHV0CgojIERlcGVuZGVuY3kgZGlyZWN0
b3JpZXMKanNwbV9wYWNrYWdlcy8KCiMgT3B0aW9uYWwgbnBtIGNhY2hlIGRp
cmVjdG9yeQoubnBtCgojIE9wdGlvbmFsIGVzbGludCBjYWNoZQouZXNsaW50
Y2FjaGUKCiMgTmV0bGlmeQoubmV0bGlmeS8=
